html,
body {
    max-width: 100%;
}


html {
    font-size: 62.5%;
    overflow-x: hidden;
}

body {
    font-family: "Inter", "Roboto";
    font-weight: 400;
    background: var(--bg-dark);
    color: var(--text);
    margin: 0 0px;

    position: relative;

    overflow-x: clip;
    /*
    border-color: red;
    border-style: dotted;
     */
}

h1, p {
    margin: 5rem 10rem;
}

.header{
    height: 8rem;
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin-bottom: 0rem;

    color: var(--text-muted);
    
    /*Glassmorphism effect
    background-color: var(--bg-glass);
    backdrop-filter: blur(14px);
    */
    position: fixed;
    top: 0;
    /*
    border-color: red;
    border-style: dotted;
    */

    box-sizing: border-box;


    padding: 0rem 4rem;

    width: 100%;

    font-size: 1.4rem;
}

#logo {
    height: 1.6rem;
    /*
    margin-left: 6rem;
    */
    text-align: center;
}

#contact {
    color: var(--bg);
    background-color: var(--text);

    display: flex;
    justify-content: center;
    
    border-radius: 2rem;

    /*
    margin: 2rem 6rem 2rem 0;
    */
    font-weight: 900;
    padding: 1.4rem;

    white-space: nowrap;
}


.home-link {
    font-size: 1.6rem;
    color: var(--text-muted);
    text-decoration: none;
    font-weight: 400;
    
    padding: 0rem;

    margin: 0 1rem;
}

.home-link:hover {
    /*
    background-color: var(--bg-light);
    border-radius: 2.6rem;
    */
    filter: brightness(1.2);
    font-weight: 500;
}

.home-link:active {
  transform: scale(0.97);
  filter: brightness(0.8);
}

#home-links {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    max-width: 50rem;
    margin: 0 2rem;

    padding: 1.4rem 0rem;

    /*Glassmorphism effect*/
    background-color: var(--bg-glass);
    backdrop-filter: blur(6px);


    border-radius: 1.4rem;
    border-style: solid;
    border-color: var(--bg-glass-border);
    
    border-top-color: rgba(255, 255, 255, 0.36);
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    /*
    padding: 0 12rem;
    */
    /*
    border-style: solid;
    */
}

#catcher {
    font-size: 1.3rem;
    
    background-color: var(--green-glass);

    color: var(--text-muted);

    font-weight: 800;
    padding: 1.2rem;

    border-radius: 1.4rem;
    border-style: solid;
    border-color: var(--green-border);
}

#main-headings {

    border-radius: 2rem;
    /*
    border-radius: 2rem;
    border-style: solid;
    border-color: var(--bg-light);
    border-width: 0.15rem;
    background-color: var(--bg);
    */
    padding: 18rem 6rem 20rem 6rem;
    display: flex;

    flex-direction: column;
    justify-content: center;
    align-items: center;

    /*max-width: 160rem;*/

    width: 100%;

    background-image: radial-gradient(
        circle at 50% -100%,
        var(--color-10), transparent);
}

.heading {
    font-weight: 600;
    font-size: 8rem;
    margin: 0rem 0rem 6rem 0rem;
    
    max-width: 100rem;
    /*
    border-style: dotted;
    border-color: red;
    */

    color: var(--text);

    text-align: center;
    width: 100%;
}

.subheading {
    color: var(--text-muted);

    font-weight: 300;
    font-size: 2.4rem;

    margin: 0 8rem;

    text-align: center;
}

#num-overview {
    margin-top: 16rem;
    display: flex;
    justify-content: space-evenly;
    gap: 6rem;
}

.num-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    height: 14rem;
    width: 14rem;
    max-width: 30rem;

    border-radius: 2rem;
    border-style: solid;
    border-color: var(--bg-glass-border);
    border-width: 0.1rem;
    border-top-color: rgba(255, 255, 255, 0.4);

    margin: 0;

    padding: 2rem;

    font-size: 2rem;

    background-image: radial-gradient(
        circle at 50% -100%,
        var(--bg-light-glass), transparent);
}

.number {
    font-size: 4rem;
    font-weight: 600;
    color: var(--green);
}

.text-num {
    text-align: center;
    font-size: 1.4rem;
    color: var(--text-muted);
    font-weight: 300;
    margin: 0;
}

#about-us {
    margin-top: 0rem;
    font-size: 4rem;

    padding: 12 12rem;
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    

    background-color: var(--bg);
    /*
    border-radius: 2rem;
    border-style: solid;
    border-color: var(--bg-light);
    border-width: 0.15rem;
    */

    height: 60rem;
    
}

#we-do {
    max-width: 100rem;
    font-size: 8rem;
    font-weight: 600;

    color: var(--text);
}

#editing {
    font-size: 2.4rem;

    text-align: center;

    font-weight: 300;
    color: var(--text-muted);
    max-width: 40rem;
    
}

footer {
    font-size: 1.6rem;
    font-weight: 300;
    color: var(--text-muted);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 10rem;
    background-color: var(--bg);
    margin: 40rem 0px 0px;

    white-space: nowrap;

}

@media (max-width: 960px) {
    main {
        padding: 0 2rem;
    }
    #home-links {
        display: none;
    }
    .heading {
        font-size: 6rem;
        margin: 0rem 0rem 4rem 0rem;
    } 
    .subheading {
        font-size: 2rem;
        margin: 0 4rem;
    }
}

@media (max-width: 570px) {
    main {
        padding: 0 2rem;
    }
    .header {
        padding: 0rem 3rem;
        font-size: 1.2rem;
    }
    #home-links {
        display: none;
    }
    #catcher {
        font-size: 0.9rem;
        padding: 0.8rem;
        text-align: center;
        margin: 2rem;
    }
    .heading {
        font-size: 3rem;
        margin: 0rem 0rem 4rem 0rem;
    } 
    .subheading {
        font-size: 2rem;
        margin: 0 4rem;
    }
    #num-overview {
        margin: 6rem 0rem;
        gap: 4rem;
        width: 10rem;
        align-items: center;
        justify-content: center;
    }

    .num-item {
        padding: 1.2rem;
        font-size: 1rem;
        width: 10rem;
        height: 8rem;
    }
    .number {
        font-size: 2rem;
        margin: 1rem 0rem;
    }
}