body {
    font-family: Helvetica, sans-serif;
    background: linear-gradient(200deg, #000000 0%, #3f3f3f 100%);
    color: white;
    height: 1000px;
    /*
    border-color: red;
    border-style: dotted;
    */
    margin: 0;
}

#home{
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /*
    border-color: red;
    border-style: dotted; */
}

.home-link {
    color: inherit;
    text-decoration: none;
}


#home-links {
    display: flex;
    justify-content: space-evenly;
    align-items: end;
    width: 100%;
    font-weight: lighter;
    font-size: small;
}

#main {
    height: 300px;
    margin-left: 80px;
    /* background-color: rgb(45, 45, 45);
    border-color: red;
    border-style: dotted;
    */
}


#logo {
    height: 80px;
    margin-left: 60px;
    
}

#headings {
    width: 600px;
    /*border-style: dotted;
    border-color: red; */
}

#slogan {
    font-weight: lighter;
    font-size: 50px;
    display: flex;
    justify-content: center;
}

#subheading {
    font-weight: lighter;
}