body {
    font-family: "roboto", "inter";
    font-weight: 400;
    background: black;
    color: white;
    margin: 0 120px;
    /*
    border-color: red;
    border-style: dotted;
     */
}

h1, p {
    margin: 50px 100px;
}



#logo {
    height: 70px;
    margin-left: 60px;
}

#home{
    height: 65px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 30px 0px;
    /*
    border-color: red;
    border-style: dotted;
    */
}

.home-link {
    font-size: 12px;
    color: inherit;
    text-decoration: none;
    font-weight: 500;
}


#home-links {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    font-weight: lighter;
    font-size: small;
}

#main {
    background-color: rgb(0, 0, 0);
    /*
    border-color: red;
    border-style: dotted;
    */
    height: 1500px;
    
}

.heading {
    font-weight: 400;
    font-size: 80px;
    margin: 120px 200px 140px;
    /*
    border-style: dotted;
    border-color: red;
    */
}

.subheading {
    font-weight: 300;
    font-size: 30px;
    margin: 40px 200px;
}

footer {
    font-size: 14px;
    font-weight: 300;
    color: rgb(190, 190, 190);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 100px;
    background-color: rgb(0, 0, 0);
    margin: 0;
}